<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Animes</title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <style>
        nav {
            width: auto;
            height: 3rem;
            border: solid;
            position: sticky;
            top: 0;
            background-color: #292b2c;
            font-size: 2rem;
            margin-left: -15px;
            margin-right: -15px;
            margin-top: -15px;
            margin-bottom: 2rem;
        }

        nav a:link {
            color: white;
            text-decoration: none;
            margin: 0px;
            margin-left: 1.5rem;
            font-size: x-large;
            opacity: 0.8;
        }

        nav a:visited {
            color: white;
            text-decoration: none;
            margin: 0px;
            margin-left: 1.5rem;
            font-size: x-large;
            opacity: 0.8;
        }
    </style>
</html>
<nav>
    <a href="#" style="opacity: 1">YelpAnime</a>
    <a href="/" class="home">Home</a>
    <a href="/animes" class="home">Animes</a>
    <a href="/animes/new" class="home">New Anime</a>
</nav>
