* {
    font-size: 1rem;
}
#parent-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15rem;
}
#child-container {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    width: 70rem;
    margin-bottom: 0.1rem;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: blue;
    color: white;
    border: solid;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
h1 {
    font-size: 2rem;
    margin-top: 0rem;
}

div > img {
    width: 25rem;
    height: 30rem;
    display: block;
}

div.text {
    margin-left: 2rem;
}

div.text p {
    width: 40rem;
    text-align: justify;
    text-justify: inter-word;
}
