<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Animes</title>
    </head>
    <body>
        <h1>All Animes</h1>
        <div>
            <a href="/animes/new">Add Anime</a>
        </div>
        <ul>
            <% for (let anime of animes) {%>
            <li>
                <a href="/animes/<%= anime._id %>"> <%= anime.title %> </a>
            </li>
            <% } %>
        </ul>
    </body>
</html>
